@font-face {
    font-family: Louis George Café;
    src: url(/fonts/Louis\ George\ Cafe.ttf);
}

* {
    margin: 0;
    padding: 0;
    color: #144553;
    font-family: 'Louis George Café', 'Source Serif Pro';
    font-weight: 400;
    box-sizing: border-box;
}

.figure-santiagosphoto{
    text-align: center;
}

.santiagosphoto{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 80px;
}

.main-name{
    text-align: center;
    margin: 30px;
    font-weight: bold ;
}

.headline{
    text-align: center;
}

.main-nav{
    margin: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.main-nav__item{
    padding: 10px ;
}

.main-nav__item a{
    text-decoration: none;
    color: #144553;
}

.main-nav__item a:hover{
    color: #FFBD22;
}

.main-nav__item a:active{
    color: #D77F73;
}

.aboutme{
    text-align: center;
}

.aboutme-description{
    margin: 30px 200px;
    text-align: center;
}

.aboutme-description p{
    padding: 30px;
}

.projects{
    text-align: center;
}

.project-itemone{
    margin: 30px 160px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.one-itemone{
    padding: 10px 20px;
}

.one-itemtwo{
    padding: 10px 20px ;
}

.imagendoradamas{
    width: 326px;
    height: 152px;

}

.books{
    text-align: center;
}

.books-list{
    display: flex;
    justify-content: center;
}

.book-item{
    padding: 20px;
}

footer{
    background-color: #edede5;
}

