@font-face {
    font-family: Louis George Café;
    src: url(/fonts/Louis\ George\ Cafe.ttf);
}

* {
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: 'Louis George Café', 'Source Serif Pro';
    font-weight: 400;
}

body {
    background-color: #fffef4;
}


.avocado {
    margin: 35px;
    text-decoration: none;
}

.greeting {
    font-family: 'Louis George Café';
    font-size: 28px;
    margin-top: 10px;
    text-align: center;
}

.description {
    font-size: 28px;
    margin: 30px;
    text-align: center;
}

.message{
    margin: 30px;
    text-align: center;
}

.dividerLine {
    height: 1px;
    margin: 10px;
    background-color: black;
    opacity: 0.1;
}

#aboutmecontainer {
    display: flex;
    justify-content: space-around;
    margin: 100px;
}

#aboutmedescription {
    width: 400px;
    height: 400px;
}

#aboutmeprojects {
    width: 400px;
    height: 400px;
}
