* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Source Serif Pro';
    font-weight: 300;
}

@font-face {
    font-family: Louis George Café;
    src: url(/fonts/Louis\ George\ Cafe.ttf);
}


body {
    background: linear-gradient(90deg, #144553, #D77F73);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 50s infinite;
}

@keyframes cambiar {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}  /*100 a 50 para que regrese*/
    100% {background-position: 0 50%;}
}

.main-name {
    margin: 240px;
    padding: 40px;
    text-align: center;
}

.main-name__item {
    font-size: 60px;
    letter-spacing: 5px;
}

.footer-nav {
    margin: 40px;
    list-style: none;
    text-align: center;
}

.footer-nav__item{
    display: inline-block;
    opacity: 0.60;
}

.footer-nav__item a {
    text-decoration: none;
    font-size: 17px;
    padding: 20px;
    color:white;
    font-weight: 400;
}

.footer-nav__item a:hover {
    color: #FFBD22;
}

.footer-nav__item a:active{
    color: #CDA434 ;
}